<!-- <h1> HR APP </h1> -->


<%= link_to 'About' ,about_path, target: '_blank' , style:'color: black;' %>


<%= link_to 'Contact' ,contact_path, target: '_blank',style:'color: black;' %>


<%= link_to 'Privacy Policy' ,privacy_policy_path, target: '_blank' ,style:'color: black;' %>


<%= link_to 'Terms' ,terms_path, target: '_blank',style:'color: black;' %>



<%= link_to 'List' ,employees_path, target: '_blank',style:'color: black;' %>

